.chatBotPage input {
  flex: 1;
  width: 100%;
  height: 42px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 3px;
}

.chatWindow {
  width: 95%;
  height: 73vh;
  overflow-y: auto;
  border-radius: 8px;
  margin: 10px 0 10px 30px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.message {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.user {
  max-width: 500px;
  text-align: left;
  margin-left: auto;
  margin-right: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #8dc5fa;
  position: relative;
}

.bot {
  max-width: 500px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  position: relative;
}

.bot::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../examples/chatBot/images/image.png');
  background-size: cover;
  margin-right: 5px;
}

.user::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('../../examples/chatBot/images/user.png');
  background-size: cover;
}

.messageTime {
  position: absolute;
  bottom: -20px;
  right: 0;
  margin-right: 5px;
  font-size: 0.8rem;
  color: #666;
}

.inputContainer {
  width: 95%;
  display: flex;
  margin-left: 30px;
}

input {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  height: 42px;
  font-size: 15px;
  font-weight: bolder;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  background-color: #1284f5;
  border: 2px solid #1284f5;
}

.activityBtn {
  padding: 5px 7px;
  width: 115px;
  height: 35px;
  font-size: 15px;
  font-weight: bolder;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  background-color: #29dd29;
  border: 2px solid #29dd29;
}

.competitionBtn {
  padding: 5px 7px;
  width: 100px;
  height: 35px;
  font-size: 15px;
  font-weight: bolder;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  background-color: #29dd29;
  border: 2px solid #29dd29;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}